/* ### CUSTOM PROPERTIES ### */

:root {
  /* # PRIMARY # */
  --green-200: hsl(148, 38%, 91%);
  --green-600: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);

  /* # NEUTRAL # */
  --white: hsl(0, 0%, 100%);
  --grey-500: hsl(186, 15%, 59%);
  --grey-900: hsl(187, 24%, 22%);

  /* # TYPOGRAPHY # */
  --ff-karla: "Karla", sans-serif;
  --fw-400: 400;
  --fw-700: 700;
}

/* ### CSS RESET ### */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* ### UTILITY CLASSES ### */

.hide {
  display: none;
}

.asterisq {
  padding-bottom: 5px;
  padding-left: 3px;
  color: var(--green-600);
}

.border-invalid {
  border-color: var(--red);
}

.error-message {
  color: var(--red);
  font-size: 0.9rem;
  margin-top: 0.7rem;
}

/* ### GENERAL STYLING ### */

body {
  font-family: var(--ff-karla);
  font-weight: var(--fw-400);
  background-color: var(--green-200);
  color: var(--grey-900);
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

h1,
label,
legend,
button {
  font-weight: var(--fw-700);
}

h1 {
  color: #2d3c3d;
}

input,
textarea,
.radio-container {
  display: block;
  border: 1px solid var(--grey-500);
  border-radius: 0.3rem;
  padding: 0.8rem 1.5rem;
}

input,
button,
textarea {
  width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
  width: unset;
}

fieldset {
  border: none;
}

form button {
  border: none;
  cursor: pointer;
}

/* ### CONTACT FORM ### */

.contact-form {
  padding: 2rem 1.8rem;
  border-radius: 0.8rem;
  background-color: var(--white);
}

form {
  margin-top: 1.5rem;
}

form,
.row {
  display: grid;
  gap: 1.5rem;
}

input:hover,
textarea:hover {
  cursor: pointer;
  border-color: var(--green-600);
}

.radio-container label:hover {
  cursor: pointer;
}

input[type="radio"] {
  border: none;
  padding: unset;
  align-self: center;
  appearance: none;
  width: 20px;
  height: 20px;
  overflow: hidden;
  cursor: pointer;
}

input[type="radio"]::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid gray;
  border-radius: 200px;
}

input[type="radio"]:checked::before {
  border: none;
  background-image: url(/assets/images/icon-radio-selected.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

input[type="checkbox"] {
  border: none;
  padding: unset;
  border-radius: unset;
  flex-shrink: 0;
  appearance: none;
  width: 20px;
  height: 20px;
  overflow: hidden;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid gray;
}

input[type="checkbox"]:checked::before {
  border: none;
  background-image: url(/assets/images/icon-checkbox-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

label,
legend {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #333435;
  font-weight: var(--fw-400);
}

.radio-container {
  font-size: 1.185rem;
  box-sizing: content-box;
}

.radio-container label {
  margin-bottom: unset;
  font-size: 0.985rem;
}

.radio-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.terms {
  display: grid;
  align-items: center;
  grid-template-columns: 20px 1fr;
  column-gap: 1rem;
}

.terms label {
  margin-bottom: unset;
  cursor: pointer;
}

.terms .error-message {
  grid-column: span 2;
}

form button {
  background-color: var(--green-600);
  color: var(--white);
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
}

form button:hover {
  background-color: hsl(106, 69%, 13%);
}

/* ### MEDIA QUERIES ### */

@media (min-width: 68.75em) {
  .contact-form {
    max-width: 660px;
    width: 100%;
  }

  .row {
    grid-template-columns: repeat(2, 1fr);
  }
}
